@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
* {
  font-family: "Nanum Myeongjo", serif;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  color: rgb(22, 22, 22);
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; // 비율 안깨지게
}

main {
  position: fixed;
  z-index: 2; //이미지 앞으로 들고오는 속성 숫자가 클수록 우선순위가 높음
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .timeAmPm {
    width: 400px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    .time {
      font-size: 60px;
      padding-left: 20px;
    }
    .ampm {
      font-size: 20px;
      margin-top: 30px;
      margin-left: 10px;
    }
  }

  .date {
    font-size: 30px;
    font-weight: 500;
    border: 0px;
    margin-top: 20px;
    color: rgb(243, 251, 255);
  }

  .quotes {
    position: relative;
    font-size: 60px;

    .quotesAddBtn {
      display: none;
      position: absolute; //부모기준으로 설정됨 (fixed는 화면 기준)
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%); //상자를 텍스트 정중앙에 맞추기 위하여
    }

    &:hover {
      .quotesAddBtn {
        display: inline-block;
      }
    }
  }

  .newQuotes {
    display: none;
  }

  .search {
    .searchLogo {
      width: 32px;
      height: 32px;
      animation: spin 10s linear infinite;
    }
  }
  .searchResult {
    display: none;
  }
  .nft {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    img {
      width: 200px;
      height: 200px;
    }

    .nftHover {
      position: absolute;
      display: none;
      width: 200px;
      height: 200px;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);

      a {
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        margin: -8px;
        border-radius: 9999px;
        width: 25px;
        height: 25px;
        background-color: white;
      }
    }
    &:hover {
      .nftHover {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .nftView {
    position: fixed;
    top: 0;
    right: 0;
    margin: 24px;
    display: none;
  }
}
